mixin contact({contactText, email, Twitter, TwitterLink, LinkedIn, LinkedInLink, Instagram, InstagramLink} = {})
	section.s-Contact
		.s-Contact_Wrap
			.s-Contact_L
				h4.s-Contact_Header !{contactText}
			.s-Contact_R
				a.s-Contact_Link(href=TwitterLink) !{Twitter}
				a.s-Contact_Link(href=LinkedInLink) !{LinkedIn}
				a.s-Contact_Link(href=InstagramLink) !{Instagram} 
